.leftPanelCont {
  width: 15vw;
  height: 100vh;
  background-color: #000000;
  margin-bottom: 10px;
}

.logo {
  font-size: 32px;
  margin: 22px;
  font-weight: 700;
}

.userinfo {
  position: fixed;
  top: 0;
  left: 0;
}

.refreshContainer {
  display: flex;
  color: azure;
  margin-top: 20px;
  background: linear-gradient(
    to bottom right,
    rgb(255, 107, 71),
    rgb(253, 144, 79),
    rgb(255, 157, 82)
  );
  border-radius: 8px;
  padding: 1vw;
}

.refreshContainer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: auto;
}
