.leftPanelCont {
  height: 100vh;
  width: 15vw;
  height: 100vh;
  background-color: #131313;
}

.logo {
  font-size: 32px;
  margin: 22px;
  font-weight: 700;
}

.userinfo {
  position: fixed;
  bottom: 0;
  left: 0;
}
