.userCont {
  display: flex;
  color: azure;
  margin-top: 20px;
  margin-left: 30px;
  background-color: #202020;
  width: 15vw;
  border-radius: 8px;
  padding: 10px 20px;
  margin-bottom: 0px;
}

.icon {
  width: 45px;
  height: 45px;
  margin-right: 20px;
  margin-top: 3px;
}

.name {
  font-size: 20px;
  font-weight: 500;
}
