.userMsgCont {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
  /* max-width: 75; */
}

.userMsg {
  background-color: #1a1b23;
  color: #fff; /* White text */
  padding: 10px 15px;
  border-radius: 20px;
  border-bottom-right-radius: 0px; /* To match ChatGPT style */
  max-width: 100%;
  word-wrap: break-word;
  font-size: 18px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1vw;
}
