.userCont {
  display: flex;
  color: azure;
  margin: 20px;
  margin-top: 30px;
}

.icon {
  width: 45px;
  height: 45px;
  margin-right: 20px;
  margin-top: 3px;
}

.name {
  font-size: 20px;
  font-weight: 500;
}
