userMsgCont {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
  width: auto;
}

.userMsg {
  background-color: #1a1b23;
  color: #fff;
  padding: 10px 15px;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  max-width: 500px;
  word-wrap: break-word;
  font-size: 18px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
  white-space: pre-wrap; /* Ensures text wraps to the next line if it exceeds the container width */
  overflow-wrap: break-word;
  word-break: break-word; /* Ensures that long queries break to the next line */
}

.userMsgCont {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}
