/* Base styles */
.aboutUsSection {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px auto;
  padding: 40px;
  border-radius: 20px;
  max-width: 1200px;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.fadeIn {
  opacity: 1;
}

.aboutUsHeading {
  text-align: center;
  color: #f77d29;
  font-size: 36px;
  margin: 0 auto 40px;
  width: 100%;
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgba(255, 123, 0, 0.8);
  }
  to {
    text-shadow: 0 0 20px rgba(255, 123, 0, 0.6);
  }
}

.aboutUsContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
}

.aboutUsBox {
  background: #20232a;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aboutUsBoxTitle {
  font-size: 24px;
  color: #f77d29;
  margin-bottom: 10px;
}

.aboutUsBoxDescription {
  font-size: 16px;
  color: #ddd;
}

.aboutUsImage {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: auto 0px;
}

.aboutUsImage img {
  max-width: 100%;
  border-radius: 10px;
}

/* Responsive styles for medium screens (max-width: 800px) */
@media (max-width: 800px) {
  .aboutUsSection {
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    padding: 20px;
  }

  .aboutUsImage {
    order: 0; /* Move the image to the top */
    margin-bottom: 20px; /* Add spacing below the image */
    width: 100%; /* Ensure it spans full width */
  }

  .aboutUsContent {
    margin: 0;
    width: 100%;
    text-align: center; /* Center-align the content */
  }

  .aboutUsBox {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
  }

  .aboutUsHeading {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .aboutUsBoxTitle {
    font-size: 20px;
  }

  .aboutUsBoxDescription {
    font-size: 14px;
  }

  .aboutUsImage img {
    width: 90%; /* Scale the image */
  }
}
