/* Base styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #444;
  background-color: #1c1c1c;
  flex-wrap: wrap;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 130px;
  margin-right: 15px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
}

.navItem {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.loginButton {
  text-decoration: none;
  background-color: #f77d29;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #d96b23;
}

/* Burger Menu */
.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

/* Burger Menu Animation */
.line1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.line2 {
  opacity: 0;
}

.line3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

.closeButton {
  display: none;
}

/* Responsive styles for small screens (max-width: 768px) */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 28, 28); /* Slight transparency */
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999; /* Ensure it's above other elements */
  }

  .navOpen {
    transform: translateY(0);
  }

  /* Close Button */
  .closeButton {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.2s ease;
  }

  .closeButton:hover {
    transform: scale(1.1);
  }

  .navItem {
    font-size: 14px;
    padding: 10px;
    width: 100%;
  }

  .loginButton {
    width: 100%;
    text-align: center;
  }
}
