.heroSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  background: linear-gradient(135deg, #ff7043, #ff8a65);
  padding: 40px;
  border-radius: 20px;
  height: 70vh;
  min-width: 300px;
  max-width: 90vw;
  background-size: 200% 200%;
  animation: gradientAnimation 15s ease infinite;
  flex-wrap: wrap;
}

.heroContent {
  color: white;
  max-width: 50%;
  padding-right: 20px;
}

.heroTitle {
  font-size: 36px;
  margin-bottom: 10px;
  color: #fff;
}

.heroSubtitle {
  font-size: 18px;
  margin-bottom: 20px;
}

.ctaButton {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.5em 1.5em;
  border: 3px solid #ff6b47;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #ff6b47;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  margin-top: 20px;
}

.ctaButton:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #ff6b47;
  z-index: -1;
}

.ctaButton:hover,
.ctaButton:focus {
  color: white;
}

.ctaButton:hover:before,
.ctaButton:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.ctaButton:active {
  transform: scale(0.9);
}

.heroImage img {
  width: 450px;
  max-width: 100%;
  height: auto;
}

/* Animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Responsive styles for medium screens (max-width: 1024px) */
@media (max-width: 1024px) {
  .heroSection {
    flex-wrap: wrap;
    padding: 30px;
    height: auto;
  }

  .heroContent {
    max-width: 60%;
    padding-right: 10px;
  }

  .heroTitle {
    font-size: 32px;
  }

  .heroSubtitle {
    font-size: 16px;
  }

  .ctaButton {
    font-size: 14px;
    padding: 8px 16px;
  }

  .heroImage img {
    width: 350px;
  }
}

/* Responsive styles for small screens (max-width: 768px) */
@media (max-width: 768px) {
  .heroSection {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .heroContent {
    max-width: 100%;
    padding: 0;
  }

  .heroTitle {
    font-size: 28px;
  }

  .heroSubtitle {
    font-size: 14px;
  }

  .ctaButton {
    font-size: 14px;
    padding: 8px 12px;
  }

  .heroImage img {
    width: 300px;
  }
}

/* Responsive styles for extra small screens (max-width: 480px) */
@media (max-width: 480px) {
  .heroSection {
    padding: 15px;
  }

  .heroTitle {
    font-size: 24px;
  }

  .heroSubtitle {
    font-size: 12px;
  }

  .ctaButton {
    font-size: 12px;
    padding: 6px 10px;
  }

  .heroImage img {
    width: 250px;
  }
}
