.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContainer {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  max-width: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modalInfo {
  width: 60%;
  padding-right: 20px;
}

.modalTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.modalDescription {
  font-size: 16px;
  margin-bottom: 20px;
}

.modalImage {
  width: 40%;
}

.modalImage img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.closeButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.closeButton:hover {
  background-color: #0056b3;
}
