:root {
  font-family: sans-serif;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #24252d;
  color: white;
  background-image: url("");
}

body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}
